{% include "header.html" %}

<!--Page Header-->
<header
    class="masthead"
    style="background-image: url('../static/assets/img/home-bg.jpeg')"

>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Adrián Pulido</h1>
                    <span class="subheading">Mechatronics Engineer</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!--Main content-->
<div class="container px-4 px-lg-5">
    <div class="row row-cols-3 justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-4">
            <div class="card text-black">
                <img src='../static/assets/img/code.jpeg' alt="Computer code">
                <div class="card-body">
                    <h5 class="card-title">Computer Science</h5>
                    <p class="card-text">Projects Developed</p>
                    <a href="#!" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-4">
            <div class="card">
                <img src="../static/assets/img/electronics.jpeg" alt="Electronic circuit">
                <div class="card-body">
                    <h5 class="card-title">Electronics</h5>
                    <p class="card-text">Projects Developed</p>
                    <a href="#!" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-4">
            <div class="card">
                <img src="../static/assets/img/arm.jpg" height="259.3" alt="Robot">
                <div class="card-body">
                    <h5 class="card-title">Robotics</h5>
                    <p class="card-text">Projects Developed</p>
                    <a href="#!" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}